<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <body style="background-color: bisque">
    <meta charset="UTF-8">
    <title> Dolce </title>
    <h1> CHEESECAKE AL LIMONE </h1>
    <img src= "{% static 'immagini/dolce.jpeg' %}" alt="dolce" width="400" height="300">
    <p> Questo dolce ha una prrparazione di 40 minuti, ben 6 minuti di cottura e qualche ora in frigo a rassodare </p>
    <h2> INGREDIENTI </h2>
    <ul>
    <p> Per la base da 20 cm </p>
    <li> Biscotti Plasmon o Digestive </li>
    <li> 100 g di burro </li>
    <p> Per il ripieno </p>
    <li> 500 g ricotta vaccina </li>
    <li> 250 g formaggio fresco spalmabile </li>
    <li> 100 g succo di limone </li>
    <li> 150 g di zucchero a velo </li>
    <li> 2 scorze di limone </li>
    <li> 100 g panna fresca liquida </li>
    <li> 10 g di gelatina in fogli </li>
    <p> Per la copertura </p>
    <li> 60 g succo di limone </li>
    <li> 15 g di amido di mais (maizema) </li>
    <li> 100 g acqua </li>
    <li> 80 g di zucchero </li>
    <li> 1 cucchiaino di curcuma in polvere </li>
    <p> Per guarnire </p>
    <li> 1 limone </li>
    <li> menta q.b. </li>
    <li> 100 g zucchero </li>
    <li> 80 acqua </li>
    </ul>
<br>
<h2> PROCEDURA </h2>
 <ul>
 <li>Per preparare la cheesecake al limone iniziate a preparare la base: come prima cosa versate i biscotti all'interno di un mixer, poi frullateli fino a ridurli in briciole. Trasferiteli all'interno di una ciotola capiente e unite il burro precedentemente fuso </li>
 <li>Mescolate il tutto con un cucchiaio fino ad ottenere un composto uniforme. A questo punto rivestite di carta forno uno stampo a cerniera da 20 cm (per il bordo meglio una striscia di acetato) e utilizzate il composto di biscotti per ricreare la base della cheesecake pressando delicatamente con il dorso di un cucchiaio. Riponete la base a rassodare in frigorifero per circa 30 minuti. Nel frattempo occupatevi della crema. Mettete la gelatina in ammollo in acqua fredda per circa 10 minuti. </li>
<li> Spremete i limoni e filtrate il succo. In una ciotola versate la ricotta e il formaggio cremoso, mescolate il tutto con una frusta. </li>
<li> Aggiungete la scorza dei limoni grattugiata. Mescolate nuovamente il tutto e unite anche lo zucchero a velo e il succo di limoni continuando sempre a mescolare.</li>
<li> A questo punto scaldate la panna in un pentolino, quando avrà sfiorato il bollore spegnete il fuoco, strizzate bene la gelatina e, sempre a fuoco spento, unitela alla panna calda mescolando rapidamente fino a farla sciogliere completamente. Lasciate intiepidire, poi versate poco per volta all'interno del composto con i formaggi, mescolando per farla amalgamare al meglio</li>
<li> Versate tutto sulla base di biscotti solidificata, livellate la superficie con una spatola e riponetela in frigorifero per almeno 2 ore a rassodare. Potete preparare la glassa quando macherà poco allo scadere delle due ore: in un pentolino versate acqua e zucchero</li>
<li> Versate anche il succo di limone filtrato e la maizena. Mescolate con una frusta mescolate e portate a bollore. Quando avrà raggiunto il bollore spegnete e versate la curcuma, mescolando per far sciogliere.</li>
<li> Lasciate intiepidire, poi versate la glassa sopra la cheesecake e di nuovo in frigo almeno 2 ore a rassodare. Per decorare potete tagliare il limone a fettine di circa 1 mm</li>
<li> In un pentolino versate acqua e zucchero, portate a bollore e, una volta preso il bollore, spegnete il fuoco e versate lo sciroppo sopra le fette di limone</li>
<li> Lasciate in infusione fino al momento di decorare il dolce.Trascorso il tempo di raffreddamento sformate dalla tortiera il dolce e decorate con le fettine di limone e foglioline di menta </li>
 </ul>

<form action="{{ request.META.HTTP_REFERER }}">
    <p> <button type="submit">
        Torna alla lista idee ricette
    </button></p>
</form>

    </head>
</body>
</html>