<!DOCTYPE html>
<html>
<head>
  <title>Categorie Idee</title>
</head>
<body>
  <h1>Categorie Idee</h1>

<form action="antipasti">
    <p> <button type="submit">
        Antipasti
    </button></p>
</form>
<form action="primi">
    <p> <button type="submit">
        Primi
    </button></p>
</form>
<form action="secondi">
    <p> <button type="submit">
        Secondi
    </button></p>
</form>
<form action="dolci">
    <p> <button type="submit">
        Dolci
    </button></p>
</form>
<form action="contorni">
    <p> <button type="submit">
        Contorni
    </button></p>
</form>
<form action="intolleranti">
    <p> <button type="submit">
        Intolleranti
    </button></p>
</form>

<a href="{% url 'home' %}">Torna alla Home</a>

</body>
</html>
