<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <body style="background-color: cyan">
    <meta charset="UTF-8">
    <title> Secondi </title>
    <h1> Insalata di polpo </h1>
    <img src="{% static 'immagini/polpo.jpg' %}" alt="polpo" width="360" height="230">
    <p> Questo piatto richiede 1h di cottura e 20 minuti di preparazione </p>
    <br>
    <h2> INGREDIENTI </h2>
    <ul>
     <li> 1kg di polpo </li>
      <li> 1 kg di patate </li>
      <li> 1 ciuffo di prezzemolo </li>
      <li> pepe nero q.b. </li>
      <li> olio extravergine d'oliva  60 g </li>
      <li> sale fine q.b. </li>
      <li> succo di limone 60 g </li>
    </ul>
    <br>
    <h2> PROCEDURA </h2>
    <ul>
    <li>Per preparare l’insalata tiepida di polpo e patate, potete iniziare dalle patate: ponete sul fuoco un tegame ampio colmo di acqua fredda e immergete all'interno le patate, ben lavate in precedenza, con la buccia: dovranno cuocere circa 30-40 minuti dal momento del bollore (farà fede la prova della forchetta per verificare la cottura: se si infilzano senza resistenza sono pronte). Potete dimezzare i tempi di cottura cuocendo le patate in pentola a pressione. Nel frattempo occupatevi della pulizia del polpo: rivoltate e svuotate la testa, togliete il dente che si trova al centro dei tentacoli con un coltellino ed eliminate poi gli occhi; </li>
    <li> sciacquatelo quindi molto bene sotto l’acqua corrente. (Se usate un polpo fresco consigliamo di batterlo con un martelletto per frollare le carni, quindi renderle più tenere; in alternativa o successivamente alla battitura potete decidere di congelarlo per un paio di giorni).  In un altro tegame, versate abbondante acqua, aggiungete le foglie di alloro e portate a bollore. Una volta raggiunto il bollore, immergete all'interno del tegame solo i tentacoli del polpo nell’acqua bollente, per qualche istante e risollevate il polpo.</li>
    <li> Ripetete questa operazione 2-3 volte o fino a quando i tentacoli non risulteranno ben arricciati. Dopodiché immergete nell’acqua l’intero polpo, coprite con il coperchio e fate cuocere per 50 minuti a fuoco moderato. Per la cottura ottimale ricordate che per ogni 500 grammi di polpo occorrono circa 20-25 minuti. Intanto, quando saranno cotte le patate, scolatele, pelatele facendo attenzione a non scottarvi</li>
    <li> e riducetele a dadini di 2-3 cm. Tenetele da parte in caldo. Preparate la citronette: in un biberon da cucina versate il succo di limone spremuto, aggiungete l'olio d'oliva </li>
    <li> salate, pepate e chiudete con l'apposito dosatore, quindi agitate la bottiglietta per miscelare. </li>
    <li> Lavate e tritate finemente il prezzemolo. Non appena sarà pronto anche il polpo, scolatelo e lasciatelo intiepidire per 10 minuti e poi ponetelo su un tagliere per ridurlo a pezzettini, dividetelo a metè, tagliate la testa</li>
    <li> e staccate i tentacoli dal corpo centrale poi tagliate tutto a pezzetti di circa 2-3 cm. Versate il polpo in una ciotola capiente, unite anche i cubetti di patate intiepiditi, condite l'insalata con la citronette</li>
    <li> aromatizzate con il prezzemolo tritato e mescolate delicatamente per insaporire. L'insalata tiepida di polpo è pronta per essere portata in tavola. </li>
    </ul>

    <form action="{{ request.META.HTTP_REFERER }}">
    <p> <button type="submit">
        Torna alla lista idee ricette
    </button></p>
</form>

    </head>
</body>
</html>